setdevicetool.pro.user
setdevicetool_*.rc
Makefile
Makefile.Debug
Makefile.Release
object_script.setdevicetool.Debug
object_script.setdevicetool.Release
release/
debug/
setdevicetool_plugin_import.cpp
setdevicetool_plugin_import.o
ui_*.h
*.o
moc_*.cpp
qrc_*.cpp
setdevicetool
